.headerContent {
  background-color: rgba(179, 204, 221, 0.795);
  height: 80px;
  margin-bottom: 30px;
  border-bottom: 5px solid rgba(244, 248, 250, 0.795);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-weight: 700;
  padding: 7px 12px;
  letter-spacing: 1.1px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid rgb(222, 222, 233);
  box-shadow: 0 0 12px 0 rgb(200, 200, 233) inset;
  cursor: pointer;
  opacity: .7;
  border-radius: 5px;
  margin-right: 15px;
}

.button:hover {
  margin-bottom: 5px;
  opacity: 1;
  transition: all .3s;
}