.content {
  position: relative;
  margin: 10px auto;
  width: 100%;
  min-height: 40px;
  box-shadow: 0 0 4px 0 #e6b6ec inset;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.content>* {
  padding-left: 10px;
  flex: 1 1 100px;
}

.eyeButton {
  text-align: center;
}

.countryName {
  cursor: pointer;
}

.countryButton {
  background: none;
  border: none;
}

.countryButton:hover {
  text-shadow: 0 0 3px #e5a0ee;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .content {
    font-size: 12px;
  }
}